

/*头部导航布局*/
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $base-color;
  .logo{
    font-size: 8rem;
    line-height: 5.7rem;
    transition: all 1s;
    &:hover{
      animation:logoanimation linear 1s infinite;
    }
  }
  .nav{
    line-height: 1;
    ul{
      li{
        display: inline-block;
        margin: 0 1rem;
        a{
          font-size: 1.5rem;
        }
      }
    }
  }
}

/*底部布局*/
.footer{
  padding-bottom: 3rem;
  text-align: center;
  color: $gray-color;
}

/*中心内容布局*/
.main{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &:before{
    content: '';
    height: 8px;
    background-color: $base-color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .content{
    flex: 1;
    padding: 3rem 1rem 1rem;
    a{
      color: $font-color;
    }
  }
}

@media (min-width:751px) {
  .main{
    width: 50vw;
    margin: 0 auto;

    .content{
      padding: 3rem 2rem 1rem;
    }
  }
}

/*首页文章推荐*/
.post-item{
  margin: 1rem 0 2rem;
  padding: 0 0 1rem;
  // border-bottom: 1px solid $border-color;
  .post-item-title{
    display: block;
    position: relative;
    font-size: 1.3rem;
    color: $black-color;
    transition: color 0.4s;
    text-indent: 1.4rem;
    &:hover{
      color: $base-color;
    }
    &:after{
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      left: 0;
      top: 50%;
      margin-top: -6px;
      border-radius: 50%;
      background-color: $base-color;
    }
  }
  .post-item-mark{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: #7f8c8d;
    ul{
      li{
        display: inline-block;
        margin-left: 0.6rem;
      }
    }
  }
  .post-item-snippet{
    margin-top: 0.5rem;
    width: 100%;
    text-align: justify;
    color: $font-color;
  }
}

/*文章内容页*/
.article{

  .article-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
  }

  .article-time{
    text-align: center;
    line-height: 2;
    margin: 0 0 2rem;
  }

  .article-content{
    text-align: justify;
    img{
      width: 100%;
      margin: 2rem 0;
    }

    a{
      color: $base-color;
    }

    p{
      margin: 1rem 0;
    }

    blockquote{
      padding: 1.4rem;
      background: #fbfbfb;
      border: 1px dashed #b9d5ff;
      border-width: 1px 0;
      font-family: monospace;
      position: relative;
      margin: 3rem 0 2rem;
      &::after {
        content: "quote";
        position: absolute;
        left: -22px;
        top: -17px;
        background-color: #7ca5e2;
        padding: 0 6px;
        border-radius: 4px;
        transform: rotateZ(-20deg);
        box-shadow: 1px 1px 3px #ccc;
        color: #fff;
        font-size: 16px;
      }
    }
  }
}

/*评论*/
.comment{
  width: 100%;
  margin-top: 4rem;
}

/*animation动画效果*/
@keyframes logoanimation
{
  from {
    transform:rotateY(0deg);
  }
  to {
    transform:rotateY(180deg);
  }
}
